/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  -webkit-clip-path: inset(100%);
}

.search-form__wrapper {
  display: flex;
  justify-content: center;

  padding: 20px 0;

  background-color: #faffe7;
}

.search-form__input {
  padding: 10px;
  border: 0;
}

.search-form__submit-button,
.load-more,
.scroll-top-button {
  padding: 10px;
  border: 0;

  background-color: #faffe7;

  transition: background-color 300ms ease-in-out;
}

.search-form__input,
.search-form__submit-button,
.load-more {
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 30px;
  line-height: 1.5;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11), 0px 2px 2px rgba(0, 0, 0, 0.06),
    1px 2px 3px rgba(0, 0, 0, 0.11);
}

.search-form__submit-button {
  margin-left: 5px;
}

.search-form__submit-button[disabled] {
  pointer-events: none;
  border-color: #e6e9db;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11);
}

.search-form__submit-button:hover,
.search-form__submit-button:focus,
.load-more:hover,
.load-more:focus,
.scroll-top-button:focus,
.scroll-top-button:hover {
  cursor: pointer;
  background-color: #f0ffba;
}

.scroll-top-button:focus,
.scroll-top-button:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11), 0px 2px 2px rgba(0, 0, 0, 0.06),
    1px 2px 3px rgba(0, 0, 0, 0.11);
}

.scroll-top-button {
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 30px;

  border: 0;
  border-radius: 40px;
  opacity: 80%;

  transition: box-shadow 300ms ease-in-out, opacity 300ms ease-in-out;
}

.scroll-top-button:hover .scroll-top-icon,
.scroll-top-button:focus .scroll-top-icon {
  fill: #242424;
}

.scroll-top-icon {
  fill: #696969;
  transition: fill 300ms ease-in-out;
}

.load-more {
  display: block;
  margin: 10px auto;
}

.photo-card {
  list-style: none;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1920px;
  margin-top: 30px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  gap: 30px;
}

.photo-card {
  width: calc((100%) / 5);
  max-width: 300px;
  scale: 1;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11), 0px 2px 2px rgba(0, 0, 0, 0.06),
    1px 2px 3px rgba(0, 0, 0, 0.11);
  transition: scale 300ms ease-in-out;
}
.photo-card:hover,
.photo-card:focus {
  scale: 1.03;
}

.photo-link {
  display: flex;
  max-width: 300px;
  min-width: 150px;
}

.info {
  display: flex;
  max-width: 100%;
  padding: 5px;
  gap: 5px;
}

.info-item {
  font-size: small;
  text-align: center;
}

.loader {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #ff3d00 #ff3d00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
